 figcaption.fig1 {
    background-color: white;
    color: rgb(0, 0, 0);
    
    padding: 2px;
    position: absolute;
    left: 220px;
    
  }

  figcaption.fig2 {
    background-color: white;
    color: rgb(0, 0, 0);
    
    padding: 2px;
    position: absolute;
    right: 160px;
    
  }
  
.float-parent-element { 
    width: 250%; 
} 
.float-child-element { 
    float: left; 
    width: 20%; 
} 
.plot1a { 
    background-color: rgb(255, 255, 255); 
    margin-left: 10%; 
    height: 100px; 
} 
.plot1b { 
    margin-right: 10%; 
    height: 100px; 
    background-color: rgb(255, 255, 255); 
}
